<div class="update-posts">
  <h3>What's Happening?</h3>
  <form action="microsubmit" method="post" id="microsubmit">
    <p>Title: <input type="text" name="title" value="<%= @updatepost.title %>"></p>
    <p>Blog: <textarea rows="3" cols="30" name="microblog" form="microsubmit"><%= @updatepost.body %></textarea></p>
    <p><input type="submit" value="Post"></p>
  </form>
</div>
