<!DOCTYPE html>
<html>
  <head>
    <title>MicroBlog</title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <nav class="sidebar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <nav class="topbar">
      <ul class="sign-in">
        <li><a href="/signup">Or Sign Up</a></li>
      </ul>
      <ul class="blogfeed">
        <li><a href="/">Home</a></li>
        <li><a href="/myblogs">My Blogs</a></li>
      </ul>
    </nav>
  </body>
</html>
