<div class="container">
   <form action="microsubmit" method="post" id="microsubmit">

    <p>Title: <input type="text" name="title"></p>

    <p>Blog: <textarea rows="3" cols="30" name="microblog" form="microsubmit"></textarea></p>
    <p><input type="submit" value="Post"></p>
  </form>
</div>